/* src/app/globals.css */
@import "tailwindcss";


@layer components {
  .card-container {
    @apply flex flex-col items-center justify-center min-h-[80vh] p-4;
  }

  .quiz-wrapper {
    @apply w-full max-w-4xl;
  }

  .question-card {
    @apply bg-white rounded-2xl shadow-xl p-6 md:p-8 mb-6 text-center border-b-4 border-gray-300;
  }

  .question-label {
    @apply text-gray-500 font-bold tracking-widest text-sm uppercase block mb-4;
  }

  .question-text {
    @apply text-xl md:text-3xl font-bold text-gray-800 mt-4;
  }

  .answer-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-4;
  }

  /* --- STYLE TOMBOL --- */
  .btn-base {
    @apply text-white p-6 rounded-xl shadow-lg transition-transform transform hover:scale-[1.02] font-bold text-lg text-left w-full;
  }

  .btn-red {
    @apply bg-red-500 hover:bg-red-600;
  }

  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .btn-yellow {
    @apply bg-yellow-400 hover:bg-yellow-500 text-yellow-900;
  }

  .btn-green {
    @apply bg-green-500 hover:bg-green-600;
  }
}